:javascript
  $(function() {
    $('.datepicker').datepicker({
      format: "yyyy-mm-dd",
      todayHighlight: true,
      todayBtn: 'linked',
      autoclose: true
    });
  });

%div.grid.flex

  %p.focus 
    %strong Send your feedback to CityRail to let them know your frustrations with the service:

  = simple_form_for @feedback, :html => {:class => 'vertical', :method => "post" } do |f|

    - if @feedback.errors.any?
      %div.error
        = @feedback.errors.full_messages

    = f.input :comment, collection: Feedback::COMMON_COMPLAINTS, label: "Common complaints", prompt: "Select complaint"

    / = f.input :comment, label: "Comment", :input_html => {:class => ''}
    / , label_html: { class: 'hide' }

    / = f.input :type, collection: Feedback::TYPES, prompt: "Select feedback type"
    = f.input :topic, collection: Feedback::TOPICS, prompt: "Select topic"
    = f.input :line, collection: Feedback::LINES, prompt: "Select Line"
    = f.input :station, collection: Feedback::STATIONS, prompt: "Select Station"

    / = f.input :incident_date, :as => :string, :input_html => {:class => 'datepicker', :type => "date"}
    / = f.input :incident_time, :as => :string, :input_html => {:type => "time"}

    / = f.input :created_at, :as => :string, :input_html => {:class => 'datepicker', :type => "date"}

    Date:
    = l Date.today

    %div.actions
      = f.submit "Submit", :class => "blue"


