<!DOCTYPE html>
<html>
<head>
  <title>CityFail</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="">
	<nav class="">
		<ul class="menu">
			<li><div id="logo"><a href="">CityRail Fail</a></div></li>
			<li class="current"><a href="">Home</a></li>
			<li><a href="">Complaints</a></li>
			<li><%= link_to "About", about_path %></li>
		</ul>
	</nav>
</header>

<%= yield %>



<footer class="grid flex small">
CityRail Fail is not affiliated with Sydney Trains. CityRail Fail endeavours to provide the commuters with 
We will forward your feedback to Sydney Trains as requested.
</footer>


</body>
</html>
